/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #f5f5f5;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 80px;
  height: auto;
  margin-right: 40px;
}

.logo,
.nav-list,
.login-btn {
  flex: 1; 
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.nav-list {
  display: flex;
  justify-content: center; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 0 10px;
}

.nav-btn {
  color: #1a1a1a;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.active-nav-btn {
  color: #000; 
  font-weight: bold;
}

.nav-btn:hover {
  color: #0865f1; 
}

.login-icon {
  border-radius: 50%;
  width: 50px; 
  height: auto;
  margin-right: 10px; 
}

.login {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 23px;
  justify-content: center;
}

.login:hover {
  color: #007bff;
}

.login-btn .login {
  display: flex;
  align-items: center;
}

/* @hant css footer */
footer {
  text-align: center;
  background-color: #D9A066;
  color: #000;
  padding: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section,
.footer-contact {
  flex: 1;
}

.footer-section ul,
.footer-contact ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li,
.footer-contact ul li {
  margin-bottom: 8px;
  font-size: 20px;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
  color: #000;
}

