/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

/* Chia các thành phần thành 6 phần bằng nhau */
.logo,
.nav-list,
.login-btn {
  flex: 1; /* Mỗi phần tử chiếm 2 phần trong tổng số 6 */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Căn chỉnh nav-list */
.nav-list {
  display: flex;
  justify-content: center; /* Căn giữa các mục nav */
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 0 10px;
}

.nav-btn {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-btn:hover {
  color: #ff4d00; 
}

.login-btn {
  text-align: center;
}

.login {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.login:hover {
  color: #007bff;
}

footer {
  text-align: center;
  background-color: #d1a575;
  color: #000;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section,
.footer-contact {
  flex: 1;
}

.footer-section h3,
.footer-contact h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section ul,
.footer-contact ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li,
.footer-contact ul li {
  margin-bottom: 8px;
}

/* .footer-contact .footer-section {
  text-align: center;
} */

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
  color: #000;
}

