.date-input {
    position: relative;
    display: flex;
    align-items: center;
  }
  
.date-input input {
    width: 80%;
    padding: 8px 35px 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
  
.date-input input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  }
  
.calendar-icon {
    position: absolute;
    right: 10px;
    color: #888;
    font-size: 18px;
    pointer-events: none;
}
  