.book-list {
    width: 100%;
    border-collapse: collapse;
  }
  
.book-header,
.book-row {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
    padding: 10px;
    border-bottom: 1px solid #e7e1e1;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* height: 70px; */
    font-size: 18px;
}
  
.book-header {
    background-color: #D9A066;
    font-weight: bold;
    height: 40px; 
}
  
.book-row div {
    padding: 10px;
}
  
.return-button {
    background-color: #D9A066;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
}
  
.return-button:hover {
    background-color: #b07d57;
}
  