.container {
    height: 400vh; 
    color: rgb(150, 213, 249);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
  
.content {
    background-image: url('/public/assets/images/home.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
  
.quote {
    padding-top: 100px;
    color:black;
    font-size: 1.5em;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: right;
}
  
.btn {
    background-color: #D9A066;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    width: 80px;
}

.statistical .Line .Pie {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f5f5f5;
    border-top: 1px solid #cccc;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

.statistical h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.chart, .Line, .Pie {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0;
    width: 100%;
}

.chart-container, .linechart-container, .piechart-container, .description {
    flex: 1;
    max-width: 50%;
    height: 300px;
}

.chart-container, .linechart-container, .piechart-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.description {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    text-align: left;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
.contact-title {
  font-size: 24px;
  font-weight: bold;
  background-color: #d4a373;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.form-map-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1400px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #e0e0e0;
}

.textarea-field {
  height: 100px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #d4a373;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.map-container {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* css cho trang category */

.category-page {
  text-align: center;
  padding: 20px;
}

.category-title {
  background-color: #d1a575;
  color: #000;
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.book-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.book-item {
  text-align: center;
}

.book-image {
  width: 120px;
  height: 180px;
  background-color: #dcdcdc;
  margin-bottom: 10px;
}

.borrow-button {
  background-color: #d1a575;
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

.borrow-button:hover {
  background-color: #c3946c;
}

.load-more-button {
  background-color: #d1a575;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.load-more-button .arrow {
  font-size: 14px;
  vertical-align: middle;
}

.load-more-button:hover {
  background-color: #c3946c;
}
