.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3dbdb;
}
  
.signup-form, .welcomeagain-section {
    padding: 20px;
    width: 320px;
    height: 350px;
}

.signup-form {
    background-color: #f0f5ff;
    border-radius: 0px 15px 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeagain-section {
    background-color: #e0a464;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form h2, .welcomeagain-section h2 {
    font-weight: bold;
}

.signup-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cac7c7;
    border-radius: 10px;
}

.login-button, .register-button {
    background-color: #c98439;
    border: none;
    color: #000;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.welcomeagain-section p {
    width: 250px;
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
}

.login-button:hover, .register-button:hover {
    background-color: #c19b5b;
}
