.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e3dbdb;
}

.login-form, .welcome-section {
  padding: 20px;
  width: 320px;
  height: 350px;
}

.login-form {
  background-color: #f0f5ff;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-section {
  background-color: #e0a464;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2, .welcome-section h2 {
  font-weight: bold;
}

.login-form input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #cac7c7;
  border-radius: 10px;
}

.forgot-password {
  width: 90%;
  text-align: right;
  font-size: 1em;
}

.login-button, .register-button {
  background-color: #c98439;
  border: none;
  color: #000;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.welcome-section p {
  width: 250px;
  font-size: 24px;
  text-align: center;
  /* margin-top: 5px; */
}

.login-button:hover, .register-button:hover {
  background-color: #c19b5b;
}
