
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
    z-index: 1100; 
}




.sidebar h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #FFFF33;
}

.sidebar p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: -20px;
    color: #FFFF66cd;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.sidebar ul li {
    position: relative;
}


.sidebar ul li a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
}


.sidebar ul li a .icon {
    margin-right: 15px;
    font-size: 1.2rem;
}


.submenu-icon {
    margin-left: auto;
    font-size: 0.9rem;
}


.sidebar ul li a:hover {
    background-color: #575757;
}


.submenu {
    background-color: #444;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
}

.submenu li {
    margin: 5px 0;
}


.submenu li a {
    padding: 8px 0;
    color: #ddd;
    font-size: 0.95rem;
}


.submenu li a:hover {
    color: #fff;
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 20px; 
}

.sidebar-logo .logo {
    width: 80px; 
    height: auto;
    border-radius: 50%;
}
