/* Kiểu chung cho button */
.btn {
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Kích thước khác nhau */
  .btn.small {
    padding: 3px 50px;
    font-size: 20px;
  }
  
  .btn.medium {
    padding: 10px 20px;
    font-size: 10px;
  }
  
  .btn.large {
    padding: 14px 28px;
    font-size: 18px;
  }
  
  /* Trạng thái hover và disabled */
  .btn:hover {
    background-color: #0056b3;
  }
  
  .btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .btn.primary {
    background-color: #007bff;
  }
  
  .btn.secondary {
    background-color: #6c757d;
  }
  
  .btn.danger {
    background-color: #dc3545;
  }
  